#wrapper{
	width: 900px;
	background-color: #b5dde6;


}

header{
		width: 100% - border;
	height: 50px;
	background-color: #b5dde6;
	color: #566499;
	font-size: 35px;

	text-align:center;

	padding-top: 10px;
	
}
nav {
	text-align: center;
	background-image:linear-gradient(#c6eef7,#80b4bd);
}

nav li{
	display: inline-block;

	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	border-right: 1px solid black;
	padding-left: 5px;
	color: whitesmoke;
	border-color: whitesmoke;
}

nav a:first-child li{
	border-left: 1px solid black;
	padding-left: 5px;
	border-color: whitesmoke;
}

main{
	width:100%;
	padding: 5px;
	box-sizing: border-box;

	background-color: white;


	display: flex;

}

footer{
	text-align: center;
	background-color: whitesmoke;
	width: 70%;
}

.table-div{
	padding-left: 100px;
	padding-top: 100px;
}

.side-content{
	width: 300px;
	height: fit-content;

	background-color: #E8B5FF;
	box-sizing: border-box;


	padding: 10px;
}

.side-title{
	width: 100%;
	box-sizing: border-box;

	background-color: #910ca8;
	color: white;
	font-size: 30px;

	text-align: center;
	padding: 4px;

	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.side-article{
	color: white;
	border: 2px solid #910ca8;

	box-sizing: border-box;
	padding: 5px;
	text-indent: 1em;

	box-sizing:border-box;
}

.pretty-table thead{
	background-color: rgba(149, 121, 209, 0.5);
}

.pretty-table tbody{
	background-color: rgba(177, 202, 240, 0.5);
}

.pretty-table{
	border-spacing:0px 2px;
	background: url(lightbulb.png);
	background-repeat: no-repeat;
	background-position: bottom right;
}

.pretty-table th{
	padding-right: 35px;
}

.pretty-table tbody tr:hover{
	background-color: white;
}