	header{
	text-align: center;
	width: 100%;
	height: 150px;
	padding-top: 50px;
	box-sizing: border-box;
	padding-bottom: 10px;
	font-size:50px;
	background: url(german.png);
	color: white;
}


nav{
	width: 100%;
	height: 40px;
	background-color: whitesmoke;
	text-align: center;
	padding-top: 9px;
	box-sizing: border-box;
}

nav a:first-child{
	border-left: 1px solid black;
}

nav ul{
	margin: 0px;
}

nav li{
	display: inline-block;

	color: black;
	padding-right: 15px;
	padding-left: 15px;
	border-right: 1px solid black;
	box-sizing: border-box;

}

footer{
	width: 100%;
	text-align: center;
	background-color: black;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
}


main{
	display: flex;
}